# /etc/systemd/system/wifiap@.service
[Unit]
Description = accesspoint %p for tests. %i
Wants=network.target
Before=network.target
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart = /sbin/ip link set %i down
EcexStart = /usr/sbin/wpa_action stop
ExecStart = /sbin/wpa_supplicant -B -i %i -c /etc/wpa_supplicant/%p
ExecStart = /usr/sbin/hostapd -B -i radio /etc/hostapd/%p
ExecStart = /sbin/ip link set %i up

ExecStop  = /sbin/ip link set %i down
ExecStop  = /usr/sbin/wpa_cli terminate
ExecStop  =  systemctl stop hostapd

[Install]
WantedBy=multi-user.target
